h1 {
  font-size: 50px;
}

span a {
  text-decoration: none;
  color: #f15d46;
}

span a:hover {
  color: #f15d46;
}

footer {
  text-align: center;
}

form {
  width: -webkit-fill-available;
}

.weather-app {
  padding: 50px 0px 20px 0px;
  max-width: 550px;
  margin: 10px auto;
  border: solid;
}

div.forecast {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.city-date {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.icon {
  font-size: 100px;
}

.description {
  font-size: 25px;
}

.weather {
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.curr-temp {
  font-size: 40px;
}

.parameters {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.navbar {
  display: contents;
  font-family: "Bebas Neue", cursive;
}

.search-bar-row {
  height: 100px;
}

.button {
  background-color: #f15d46;
  color: aliceblue;
  border: 1px solid #f15d46;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 103px;
}

.button:hover {
  background-color: aliceblue;
  color: #f15d46;
}

.curr-location-button {
  margin-left: 10px;
  background-color: #f15d46;
  color: aliceblue;
  border: 1px solid #f15d46;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.curr-location-button:hover {
  background-color: aliceblue;
  color: #f15d46;
}

.active {
  color: #212529;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #212529;
}

.forecast {
  text-align: start;
}
